.modalContentWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.modalGif {
}

.modalInfoRow {
  margin: 8px 0;
}

.modalInfoRowTitle {
  padding: 5px 12px;
  margin-right: 8px;
  border-radius: 5px;
  background: #fbfc89;
}

.modalInfoRowValue {

}
