.headerWrapper {
  height: 40px;
  border-top: 10px solid #fbfb89;
  padding-top: 5px;
}

.headerContentWrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 40px;
  font-family: 'Sacramento', cursive;
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.linksContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.headerLink {
  margin: 0 3px;
  padding: 7px 12px;
  border-radius: 5px;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.headerLink:hover {
  background: #fbfc89;
}

.headerLink:active {
  background: #f4f56f;
}
